<h1>Formulaire de contact</h1>
<p>Prenom : {{ contact.firstname }}</p>
<p>Nom : {{ contact.lastname }}</p>
<p>Adresse : {{ contact.adress }}</p>
<p>Code postal : {{ contact.zipcode }}</p>
<p>Ville : {{ contact.city }}</p>
<p>Telephone : {{ contact.phone }}</p>
<p>Adresse mail : {{ contact.email }}</p>
<p>Message : {{ contact.message }}</p>
