{% extends 'base.html.twig' %}

{% block title %}Notre carte{% endblock %}

{% block body %}

    {# Entête #}
    <section class="row head-title head-menu">
        <div class="col-12  text-center head-title-overlay py-4">
            <h1>Menu</h1>
        </div>
    </section>

    {# Section menu #}
    <section class="row  py-4 py-md-5 text-center  ">

        <div  class="col-12">
        
            {# barre de navigation de la carte du restaurant #}

            <nav class="cards-nav col-10 offset-1  ">
                <ul class="list-unstyled d-flex justify-content-md-center flex-column flex-md-row">
                    <li class="m-1 m-md-0 ">
                        <button data-meal-type="menu-du-jour" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md " >Menu du jour</button>
                    </li>
                    <li class="m-1 m-md-0">
                        <button data-meal-type="entree" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Entrées</button>
                    </li>
                    <li class="m-1 m-md-0">
                        <button data-meal-type="plat" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Plats</button>
                    </li>
                    <li class="m-1 m-md-0">
                        <button data-meal-type="dessert" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Desserts</button>
                    </li>
                    <li class="m-1 m-md-0">
                        <button data-meal-type="petit-chef" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Petit chef</button>
                    </li>
                    <li class="m-1 m-md-0">
                        <button data-meal-type="emporter" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md">À emporter</button>
                    </li>
                    
                </ul>
            </nav>

            {# Affichage des messages flashs de type "success" si il y en a #}
            {% include 'partials/flashes/success.html.twig' %}
            {# Affichage des messages flashs de type "error" si il y en a #}
            {% include 'partials/flashes/error.html.twig' %}

            {# affichage de la carte  #}
            <div class="row ">

                <div class="col-10 offset-1 col-md-6 offset-md-3 border  rounded card-view  py-3  ">

                    
                    {# si un bouton du menu est selectionné #}
                    {% if page is defined %}

                        {% if is_granted('ROLE_ADMIN') %} {# si l'admin est connecté on affiche le bouton permettant de modifier la page#}
                            <a  href="{{ path('card_edit', {type: page.type}) }}">
                                <i class="fas fa-edit mb-3">Editer le menu</i>
                            </a>
                            {# {{ path('card_edit', {id: page.id}) }} #}
                        {% endif %}
                        
                        <h2 class="d-block raleway-regular mb-4">
                            <i class="fas fa-utensils"></i>
                            
                            <i class="fas fa-utensils"></i>
                        </h2>
                        <div class="d-block josefin-light ">{{ page.content|purify }}</div>

                    {% else %} {# contenu par défault #}
                        
                        {% if is_granted('ROLE_ADMIN') %} {# si l'admin est connecté on affiche le bouton permettant de modifier la page#}
                            <a  href="{{ path('card_edit', {type: "menu-du-jour"}) }}">
                                <i class="fas fa-edit mb-3">Editer le menu</i>
                            </a>
                            {# {{ path('card_edit', {id: page.id}) }} #}
                        {% endif %}
                        
                        <h2 class="d-block raleway-regular mb-4 page-title">
                            <i class="fas fa-utensils"></i>blabla<i class="fas fa-utensils"></i>
                        </h2>
                        <div class="d-block josefin-light page-content"> content </div>

                        
                    {% endif %}
                    
                </div>
            
            </div>

        </div>
                
    </section>

    

{% endblock %}