{% extends 'base.html.twig' %}

{% block title %}Notre carte{% endblock %}

{% block body %}

    {# Entête #}
    <section class="row head-title head-menu">
        <div class="col-12  text-center head-title-overlay py-4">
            <h1>Menu</h1>
        </div>
    </section>

    {# Section menu #}
    <section class="row  py-4 py-md-5">

        <div  class="col-12">
        
            {# barre de navigation de la carte du restaurant #}

            <nav class="cards-nav col-10 offset-1  ">
                <ul class="list-unstyled d-flex justify-content-md-center flex-column flex-md-row">
                    <li class="m-1 m-md-0 ">
                        <a data-meal-type="menu-du-jour" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md card-btn-active " >Menu du jour</a>
                    </li>
                    <li class="m-1 m-md-0">
                        <a data-meal-type="entree" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Entrées</a>
                    </li>
                    <li class="m-1 m-md-0">
                        <a data-meal-type="plat" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Plats</a>
                    </li>
                    <li class="m-1 m-md-0">
                        <a data-meal-type="dessert" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Desserts</a>
                    </li>
                    <li class="m-1 m-md-0">
                        <a data-meal-type="petit-chef" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md ">Petit chef</a>
                    </li>
                    <li class="m-1 m-md-0">
                        <a data-meal-type="emporter" class="py-2 px-md-3 px-lg-4 py-md-4 rounded-md">À emporter</a>
                    </li>
                </ul>
            </nav>

            {# Affichage des messages flashs de type "success" si il y en a #}
            {% include 'partials/flashes/success.html.twig' %}
            {# Affichage des messages flashs de type "error" si il y en a #}
            {% include 'partials/flashes/error.html.twig' %}

            {# affichage de la carte  #}
            <div class="row ">

                <div class="col-10 offset-1 col-md-6 offset-md-3 border  rounded card-view  py-3  ">
                    
                    {# L'attribut action du formulaire doit être généré car ce dernier contient l'id de la page à modifier #}
                    {{ form_start(form, {attr: {class: 'row'}}, {attr: {'action' : path('card_edit', { id: form.vars.value.id })}}) }}

                        <div class="offset-2 col-8">
                            {# Champ titre #}
                            {{ form_row(form.title) }}
                        </div>

                        <div class="offset-1 col-10">
                            {# Champ contenu #}
                            {{ form_row(form.content, {attr: {rows: '12'}}) }}
                        </div>

                        <div class="offset-2 col-3 contact-btn-div mx-auto">
                            {# Champ titre #}
                            {{ form_row(form.send) }}
                        </div>

                    {# Fermeture du formulaire #}
                    {{ form_end(form) }}
            
                </div>
            
            </div>

        </div>
                
    </section>

    

{% endblock %}