{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{# Affichage des messages flashs de type "success" si il y en a #}
{% include 'partials/flashes/success.html.twig' %}
{# Affichage des messages flashs de type "error" si il y en a #}
{% include 'partials/flashes/error.html.twig' %}


<div class="row">
    
    <div class="col-12 col-md-6 offset-md-3 py-5">
        
        <h1>Nous contacter</h1>

        {# Ouverture du formulaire #}
        {{ form_start(contactForm) }}
        
            {# Affichage des erreurs générales du formulaire #}
            {{ form_errors(contactForm) }}
        
            {# Champ prénom #}
            {{ form_row(contactForm.firstname) }}
        
            {# Champ nom #}
            {{ form_row(contactForm.lastname) }}
        
            {# Champ adresse #}
            {{ form_row(contactForm.adress) }}
        
            {# Champ code postal #}
            {{ form_row(contactForm.zipcode) }}
        
            {# Champ ville #}
            {{ form_row(contactForm.city) }}
        
            {# Champ téléphone #}
            {{ form_row(contactForm.phone) }}
        
            {# Champ email #}
            {{ form_row(contactForm.email) }}
        
            {# Champ message #}
            {{ form_row(contactForm.message) }}
        
            {# Bouton de validation #}
            {{ form_row(contactForm.send) }}
        
        {# Fermeture du formulaire #}
        {{ form_end(contactForm) }}
        
        
        {{ form(contactForm) }}

    </div>
    
</div>


{% endblock %}