{# Variable Twig contenant le nom de la route actuelle (pour faire fonctionner correctement le menu) #}
{% set currentRoute = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {# TODO: Le titre sera composé du titre de la page, suivi d'un tiret, suivi du nom du site déclaré dans le fichier config/packages/twig.yaml #}
        <title>{% block title %}{% endblock %} - {{ site_name }} </title>

        {# Inclusions des fichiers CSS généraux du site #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {# Inclusion police d'écriture #}

        {# Inclusion des fichiers CSS individuels des pages #}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>

        <div class="container-fluid">

            <header class="row">

                {# Navbar principale #}
                <nav  id="main-menu" class="navbar navbar-expand-lg navbar-light  col-lg-10 offset-lg-1">
                    <a class="navbar-brand site-brand" href="{{ path('home') }}">
                        <img src="{{ asset('images/logo_restaurant_moulin.png')}}" width="80" height="80" alt="logo du site">
                        <span class="d-lg-none d-inline-block">Restaurant du Moulin</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse ml-lg-5" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {{ currentRoute == 'home' ? ' active' : '' }}">
                            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <!-- <li class="nav-item {{ currentRoute == 'card' or currentRoute == 'card_type' ? ' active' : '' }}">
                            <a class="nav-link" href="{{ path('card') }}">Menu</a>
                            
                        </li> -->
                        <li class="nav-item dropdown {{ currentRoute == 'card' or currentRoute == 'card_type' ? ' active' : '' }}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('card') }}"><b>Notre carte</b></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('card_type',{type: 'menu-du-jour'}) }}">Menu du jour</a>
                                <a class="dropdown-item" href="{{ path('card_type',{type: 'entree'}) }}">Carte des entrées</a>
                                <a class="dropdown-item" href="{{ path('card_type',{type: 'plat'}) }}">Carte des plats</a>
                                <a class="dropdown-item" href="{{ path('card_type',{type: 'dessert'}) }}">Carte des desserts</a>
                                <a class="dropdown-item" href="{{ path('card_type',{type: 'petit-chef'}) }}">Menu des petits chefs</a>
                                <a class="dropdown-item" href="{{ path('card_type',{type: 'emporter'}) }}">À emporter</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#timetable">Horaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('home')}}#group">Groupe</a>
                        </li>
                        <li class="nav-item{{ currentRoute == 'contact' ? ' active' : '' }}">
                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                        <li class="nav-item mr-3 {{ currentRoute == 'infos_legales' ? ' active' : '' }}">
                            <a class="nav-link" href="{{ path('infos_legales') }}">Infos légales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="tel:0385571885" id="phone-number"> <i class="fas fa-phone-alt"></i>  0385571885</a>
                        </li>
                    </ul>
                    </div>
                </nav>

                <div class="red-line col-12"></div> {#séparateur ligne rouge déco#}

                {# flèche pour remonter la page #}
                <div class="arrow-up  rounded-circle d-flex justify-content-center align-items-center">
                    <a href="#main-menu">
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </div>

            </header>

             {# Affichage du contenu principal des pages #}
            {% block body %}{% endblock %}

            {#Pied de page#}
            <footer class=" d-flex align-items-center row main-footer pb-4 pt-4">

                <div  class=" col-12 offset-md-1 col-md-5 text-center ">
                    <p>
                        <strong>Restaurant du moulin</strong><br>
                        Galuzo<br>
                        71230 Saint-Valiier<br>
                        <a href="tel:+0385571885">0385571885</a><br>
                        <a href="mailto:petillot.emilie@gmail.com">petillot.emilie@gmail.com</a><br>
                    </p>
                    
                    <a id="facebook-link" class="mt-4 mb-0" href="https://www.facebook.com/www.restaurantdumoulin.fr?hc_location=timeline"><i class="fab fa-facebook text-white"></i></a> <br>

                    {# Boutons si l'utilisateur est connecté #}
                    {% if app.user %}
                        <a  class="pt-4 d-block"href="{{ path('app_logout') }}">
                            <small > <i class="fas fa-wrench"></i> Déconnexion </small>
                        </a>
                    {% else %} {# Boutons si l'utilisateur n'est pas connecté #}
                        <a  class="pt-4 d-block"href="{{ path('app_login') }}">
                            <small > <i class="fas fa-wrench"></i> Administration </small>
                        </a>
                    {% endif %}

                </div>

                {# séparateur #}
                <div class="py-3  col-12 d-flex justify-content-center d-md-none">
                    <img class="separateur-footer" src="{{asset('images/fourchette-white.png')}}" alt="séparateur en forme de fourchette"> 
                </div>

                {# horaires du restaurant #}
                <div  id="timetable" class="col-12 col-md-5">

                    <h3 class="col-12  text-center">Horaires <i class="far fa-calendar-alt"></i></h3>
                    <table class="table table-borderless table-sm text-white d-flex justify-content-center">

                        <tbody>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">MIDI</th>
                                <th scope="col">SOIR</th>
                            </tr>
                            <tr>
                                <th scope="row">lundi</th>
                                <td>11h-15h</td>
                                <td>fermé</td>
                            </tr>
                            <tr>
                                <th scope="row">mardi</th>
                                <td>11h-15h</td>
                                <td>fermé</td>
                            </tr>
                            <tr>
                                <th scope="row">mercredi</th>
                                <td>fermé</td>
                                <td>fermé</td>
                            </tr>
                            <tr>
                                <th scope="row">jeudi</th>
                                <td>11h-15h</td>
                                <td>19h-22h</td>
                            </tr>
                            <tr>
                                <th scope="row">vendredi</th>
                                <td>11h-15h</td>
                                <td>19h-22h</td>
                            </tr>
                            <tr>
                                <th scope="row">samedi</th>
                                <td>11h-15h</td>
                                <td>19h-22h</td>
                            </tr>
                            <tr>
                                <th scope="row">dimanche</th>
                                <td>11h-15h</td>
                                <td>fermé</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                {# séparateur #}
                <div class="py-3  col-12 d-flex justify-content-center d-md-none">
                    <img class="separateur-footer" src=" images/fourchette-white.png " alt="séparateur en forme de fourchette"> 
                </div>

                <div class="col-10 offset-1 col-md-12 offset-md-0 text-center pt-5 ">
                    <p>
                        {# Site créé par Alvin Flattot <br>#}
                        ©2020 Restaurant du moulin
                    </p>
                </div>

            </footer>

        </div>

        {# Inclusion des fichiers JS généraux du site #}
        <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/card.js') }}"></script>

        {# Inclusion des fichiers JS individuels des pages #}
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
